.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 380px;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 80px;
    padding: 40px;
}
.table-striped{
    padding: 40px;
}

.shape{
    /* padding-top: 50px;
    padding-left: 30px; */
    padding-top: 50px;
}

.noedit{
    text-decoration: none;
    color: white;
}
svg{
    height: 70px;
    width: 70px;
    padding-bottom: 20px;
}
/* .paddings{
    margin: 30px;
} */
/* .formnewtype{
    width: 230px;
} */

/* .forflex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} */
.container:hover{
    /* box-shadow: inset 0 -3em 3em rgba(82, 74, 74, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(104, 75, 75, 0.3); */
    box-shadow: rgba(51, 42, 41, 0.2) 0px 8px 24px;
}
/* a{
    text-decoration: none;
    color: white;
} */

