<div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
    <div class="card-table">
        <div class="userinterface">
            
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Information</th>
                            <th>Details</th>
                          
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <td>User ID</td>
                                <td>{{user.userId}}</td>
                              </tr>
                              <tr class="table-secondary">
                                <td>User Name</td>
                                <td>{{user.userName}}</td>
                              </tr>
                              <tr class="table-success">
                                <td>Phone No</td>
                                <td>{{user.phNo}}</td>
                              </tr>
                              <tr class="table-primary">
                                <td> Email Adress</td>
                                <td>{{user.emailAdd}}</td>
                              </tr>
                              <tr>
                                <div >
                                    <td>
                                        <button class="btn btn-danger" routerLink="/user/edit">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-success" routerLink="/home" (click)="NullUser()">Home</button>
                                     </td>
                                </div>
                              </tr>
                              </tbody>
                </table>
        </div>
    </div>
</div>


